.list {
  border: 2px solid black;
}
.list_container {
  display: flex;
  justify-content: center;
}
th,
td {
  border: 2px solid black;
}
.footer {
  background-color: rgb(54, 54, 244);
  margin-top: 500px;
}
.footer_container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

body {
  background-image: url(https://images5.alphacoders.com/433/433882.jpg);
  color: white;
}
